asgiref==3.9.1
bacpypes==0.19.0
black==25.1.0
cfgv==3.4.0
click==8.2.1
coverage==7.3.2
distlib==0.4.0
Django==5.2.6
factory-boy==3.3.0
Faker==37.6.0
filelock==3.19.1
flake8==7.3.0
identify==2.6.13
iniconfig==2.1.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pre_commit==4.3.0
pyasyncore==1.0.4
pycodestyle==2.14.0
pyflakes==3.4.0
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
pytest-mock==3.12.0
PyYAML==6.0.2
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
--only-binary=psycopg2-binary
psycopg2-binary==2.9.10
dj-database-url==2.1.0
celery==5.3.4
BAC0==23.7.3
python-dotenv==1.0.0
django-celery-results==2.5.1
pytz
sqlalchemy
python-dotenv
redis>=4.5.0
netifaces>=0.11.0
responses