--
-- PostgreSQL database dump
--

\restrict lsFGzGlgsgXWqrPaHmZ6XVtrGcmhxgRICmTV4ZKEy6yuCk1R5As8dqyI7jjemcR

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO bacnet_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO bacnet_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO bacnet_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO bacnet_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO bacnet_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO bacnet_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: celery_taskmeta; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.celery_taskmeta (
    id integer NOT NULL,
    task_id character varying(155),
    status character varying(50),
    result bytea,
    date_done timestamp without time zone,
    traceback text,
    name character varying(155),
    args bytea,
    kwargs bytea,
    worker character varying(155),
    retries integer,
    queue character varying(155)
);


ALTER TABLE public.celery_taskmeta OWNER TO bacnet_user;

--
-- Name: celery_tasksetmeta; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.celery_tasksetmeta (
    id integer NOT NULL,
    taskset_id character varying(155),
    result bytea,
    date_done timestamp without time zone
);


ALTER TABLE public.celery_tasksetmeta OWNER TO bacnet_user;

--
-- Name: discovery_alarmhistory; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_alarmhistory (
    id bigint NOT NULL,
    alarm_type character varying(30) NOT NULL,
    severity character varying(10) NOT NULL,
    triggered_at timestamp with time zone NOT NULL,
    resolved_at timestamp with time zone,
    is_active boolean NOT NULL,
    trigger_value character varying(100) NOT NULL,
    threshold_value character varying(100) NOT NULL,
    message text NOT NULL,
    device_id bigint NOT NULL,
    point_id bigint
);


ALTER TABLE public.discovery_alarmhistory OWNER TO bacnet_user;

--
-- Name: discovery_alarmhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_alarmhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_alarmhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_bacnetdevice; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_bacnetdevice (
    id bigint NOT NULL,
    device_id integer NOT NULL,
    address character varying(50) NOT NULL,
    vendor_id integer NOT NULL,
    first_seen timestamp with time zone NOT NULL,
    last_seen timestamp with time zone NOT NULL,
    is_online boolean NOT NULL,
    points_read boolean NOT NULL,
    deactivated_at timestamp with time zone,
    is_active boolean NOT NULL
);


ALTER TABLE public.discovery_bacnetdevice OWNER TO bacnet_user;

--
-- Name: discovery_bacnetdevice_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_bacnetdevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_bacnetdevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_bacnetpoint; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_bacnetpoint (
    id bigint NOT NULL,
    object_type character varying(50) NOT NULL,
    instance_number integer NOT NULL,
    identifier character varying(100) NOT NULL,
    object_name character varying(200) NOT NULL,
    description text NOT NULL,
    created timestamp with time zone NOT NULL,
    device_id bigint NOT NULL,
    data_type character varying(20) NOT NULL,
    present_value character varying(100) NOT NULL,
    units character varying(50) NOT NULL,
    value_last_read timestamp with time zone
);


ALTER TABLE public.discovery_bacnetpoint OWNER TO bacnet_user;

--
-- Name: discovery_bacnetpoint_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_bacnetpoint ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_bacnetpoint_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_bacnetreading; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_bacnetreading (
    id bigint NOT NULL,
    value character varying(100) NOT NULL,
    units character varying(50) NOT NULL,
    read_time timestamp with time zone NOT NULL,
    quality character varying(50) NOT NULL,
    priority integer,
    point_id bigint NOT NULL,
    anomaly_score double precision,
    data_quality_score double precision NOT NULL,
    is_anomaly boolean NOT NULL
);


ALTER TABLE public.discovery_bacnetreading OWNER TO bacnet_user;

--
-- Name: discovery_bacnetreading_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_bacnetreading ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_bacnetreading_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_devicestatushistory; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_devicestatushistory (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    is_online boolean NOT NULL,
    response_time_ms double precision,
    successful_reads integer NOT NULL,
    failed_reads integer NOT NULL,
    packet_loss_percent double precision NOT NULL,
    device_id bigint NOT NULL
);


ALTER TABLE public.discovery_devicestatushistory OWNER TO bacnet_user;

--
-- Name: discovery_devicestatushistory_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_devicestatushistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_devicestatushistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_maintenancelog; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_maintenancelog (
    id bigint NOT NULL,
    maintenance_type character varying(20) NOT NULL,
    scheduled_date timestamp with time zone NOT NULL,
    completed_date timestamp with time zone,
    description text NOT NULL,
    technicial_notes text NOT NULL,
    predicted_failure_date timestamp with time zone,
    confidence_score double precision,
    is_completed boolean NOT NULL,
    cost numeric(10,2),
    device_id bigint NOT NULL
);


ALTER TABLE public.discovery_maintenancelog OWNER TO bacnet_user;

--
-- Name: discovery_maintenancelog_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_maintenancelog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_maintenancelog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discovery_sensorreadingstats; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.discovery_sensorreadingstats (
    id bigint NOT NULL,
    aggregation_type character varying(10) NOT NULL,
    period_start timestamp with time zone NOT NULL,
    period_end timestamp with time zone NOT NULL,
    avg_value double precision,
    min_value double precision,
    max_value double precision,
    std_dev double precision,
    reading_count integer NOT NULL,
    null_reading_count integer NOT NULL,
    anomaly_count integer NOT NULL,
    point_id bigint NOT NULL
);


ALTER TABLE public.discovery_sensorreadingstats OWNER TO bacnet_user;

--
-- Name: discovery_sensorreadingstats_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.discovery_sensorreadingstats ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discovery_sensorreadingstats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO bacnet_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_chordcounter; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_celery_results_chordcounter (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    sub_tasks text NOT NULL,
    count integer NOT NULL,
    CONSTRAINT django_celery_results_chordcounter_count_check CHECK ((count >= 0))
);


ALTER TABLE public.django_celery_results_chordcounter OWNER TO bacnet_user;

--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_celery_results_chordcounter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_chordcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_groupresult; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_celery_results_groupresult (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_done timestamp with time zone NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text
);


ALTER TABLE public.django_celery_results_groupresult OWNER TO bacnet_user;

--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_celery_results_groupresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_groupresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_taskresult; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_celery_results_taskresult (
    id integer NOT NULL,
    task_id character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text,
    date_done timestamp with time zone NOT NULL,
    traceback text,
    meta text,
    task_args text,
    task_kwargs text,
    task_name character varying(255),
    worker character varying(100),
    date_created timestamp with time zone NOT NULL,
    periodic_task_name character varying(255)
);


ALTER TABLE public.django_celery_results_taskresult OWNER TO bacnet_user;

--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_celery_results_taskresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_taskresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO bacnet_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO bacnet_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO bacnet_user;

--
-- Name: kombu_message; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.kombu_message (
    id integer NOT NULL,
    visible boolean,
    "timestamp" timestamp without time zone,
    payload text NOT NULL,
    version smallint NOT NULL,
    queue_id integer
);


ALTER TABLE public.kombu_message OWNER TO bacnet_user;

--
-- Name: kombu_queue; Type: TABLE; Schema: public; Owner: bacnet_user
--

CREATE TABLE public.kombu_queue (
    id integer NOT NULL,
    name character varying(200)
);


ALTER TABLE public.kombu_queue OWNER TO bacnet_user;

--
-- Name: message_id_sequence; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

CREATE SEQUENCE public.message_id_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.message_id_sequence OWNER TO bacnet_user;

--
-- Name: queue_id_sequence; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

CREATE SEQUENCE public.queue_id_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.queue_id_sequence OWNER TO bacnet_user;

--
-- Name: task_id_sequence; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

CREATE SEQUENCE public.task_id_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.task_id_sequence OWNER TO bacnet_user;

--
-- Name: taskset_id_sequence; Type: SEQUENCE; Schema: public; Owner: bacnet_user
--

CREATE SEQUENCE public.taskset_id_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.taskset_id_sequence OWNER TO bacnet_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: celery_taskmeta; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: celery_tasksetmeta; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.celery_tasksetmeta (id, taskset_id, result, date_done) FROM stdin;
\.


--
-- Data for Name: discovery_alarmhistory; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.discovery_alarmhistory (id, alarm_type, severity, triggered_at, resolved_at, is_active, trigger_value, threshold_value, message, device_id, point_id) FROM stdin;
\.


--
-- Data for Name: discovery_bacnetdevice; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.discovery_bacnetdevice (id, device_id, address, vendor_id, first_seen, last_seen, is_online, points_read, deactivated_at, is_active) FROM stdin;
92	120599	192.168.1.233	36	2025-09-23 09:07:16.354411+10	2025-09-24 08:59:38.295582+10	t	t	2025-09-24 08:59:23.84232+10	t
93	36578	192.168.1.140	36	2025-09-23 09:07:40.154727+10	2025-09-24 08:59:38.295582+10	t	t	2025-09-24 08:59:23.84232+10	t
94	2000	192.168.1.232	36	2025-09-23 09:10:03.199653+10	2025-09-24 08:59:38.295582+10	t	t	2025-09-24 08:59:23.84232+10	t
\.


--
-- Data for Name: discovery_bacnetpoint; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: discovery_bacnetreading; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: discovery_devicestatushistory; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: discovery_maintenancelog; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.discovery_maintenancelog (id, maintenance_type, scheduled_date, completed_date, description, technicial_notes, predicted_failure_date, confidence_score, is_completed, cost, device_id) FROM stdin;
\.


--
-- Data for Name: discovery_sensorreadingstats; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_celery_results_chordcounter; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_celery_results_chordcounter (id, group_id, sub_tasks, count) FROM stdin;
\.


--
-- Data for Name: django_celery_results_groupresult; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_celery_results_groupresult (id, group_id, date_created, date_done, content_type, content_encoding, result) FROM stdin;
\.


--
-- Data for Name: django_celery_results_taskresult; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_celery_results_taskresult (id, task_id, status, content_type, content_encoding, result, date_done, traceback, meta, task_args, task_kwargs, task_name, worker, date_created, periodic_task_name) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	discovery	bacnetdevice
8	discovery	bacnetpoint
9	discovery	bacnetreading
10	discovery	alarmhistory
11	discovery	devicestatushistory
12	discovery	maintenancelog
13	discovery	sensorreadingstats
14	django_celery_results	taskresult
15	django_celery_results	chordcounter
16	django_celery_results	groupresult
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: kombu_message; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--



--
-- Data for Name: kombu_queue; Type: TABLE DATA; Schema: public; Owner: bacnet_user
--

COPY public.kombu_queue (id, name) FROM stdin;
1	celery
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: discovery_alarmhistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_alarmhistory_id_seq', 1, false);


--
-- Name: discovery_bacnetdevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_bacnetdevice_id_seq', 94, true);


--
-- Name: discovery_bacnetpoint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_bacnetpoint_id_seq', 4061, true);


--
-- Name: discovery_bacnetreading_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_bacnetreading_id_seq', 6299, true);


--
-- Name: discovery_devicestatushistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_devicestatushistory_id_seq', 199, true);


--
-- Name: discovery_maintenancelog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_maintenancelog_id_seq', 1, false);


--
-- Name: discovery_sensorreadingstats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.discovery_sensorreadingstats_id_seq', 290, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_celery_results_chordcounter_id_seq', 1, false);


--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_celery_results_groupresult_id_seq', 1, false);


--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_celery_results_taskresult_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: message_id_sequence; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.message_id_sequence', 18, true);


--
-- Name: queue_id_sequence; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.queue_id_sequence', 1, true);


--
-- Name: task_id_sequence; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.task_id_sequence', 14, true);


--
-- Name: taskset_id_sequence; Type: SEQUENCE SET; Schema: public; Owner: bacnet_user
--

SELECT pg_catalog.setval('public.taskset_id_sequence', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: celery_taskmeta celery_taskmeta_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.celery_taskmeta
    ADD CONSTRAINT celery_taskmeta_pkey PRIMARY KEY (id);


--
-- Name: celery_taskmeta celery_taskmeta_task_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.celery_taskmeta
    ADD CONSTRAINT celery_taskmeta_task_id_key UNIQUE (task_id);


--
-- Name: celery_tasksetmeta celery_tasksetmeta_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.celery_tasksetmeta
    ADD CONSTRAINT celery_tasksetmeta_pkey PRIMARY KEY (id);


--
-- Name: celery_tasksetmeta celery_tasksetmeta_taskset_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.celery_tasksetmeta
    ADD CONSTRAINT celery_tasksetmeta_taskset_id_key UNIQUE (taskset_id);


--
-- Name: discovery_alarmhistory discovery_alarmhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_alarmhistory
    ADD CONSTRAINT discovery_alarmhistory_pkey PRIMARY KEY (id);


--
-- Name: discovery_bacnetdevice discovery_bacnetdevice_device_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetdevice
    ADD CONSTRAINT discovery_bacnetdevice_device_id_key UNIQUE (device_id);


--
-- Name: discovery_bacnetdevice discovery_bacnetdevice_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetdevice
    ADD CONSTRAINT discovery_bacnetdevice_pkey PRIMARY KEY (id);


--
-- Name: discovery_bacnetpoint discovery_bacnetpoint_device_id_object_type_in_a05cf190_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetpoint
    ADD CONSTRAINT discovery_bacnetpoint_device_id_object_type_in_a05cf190_uniq UNIQUE (device_id, object_type, instance_number);


--
-- Name: discovery_bacnetpoint discovery_bacnetpoint_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetpoint
    ADD CONSTRAINT discovery_bacnetpoint_pkey PRIMARY KEY (id);


--
-- Name: discovery_bacnetreading discovery_bacnetreading_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetreading
    ADD CONSTRAINT discovery_bacnetreading_pkey PRIMARY KEY (id);


--
-- Name: discovery_devicestatushistory discovery_devicestatushistory_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_devicestatushistory
    ADD CONSTRAINT discovery_devicestatushistory_pkey PRIMARY KEY (id);


--
-- Name: discovery_maintenancelog discovery_maintenancelog_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_maintenancelog
    ADD CONSTRAINT discovery_maintenancelog_pkey PRIMARY KEY (id);


--
-- Name: discovery_sensorreadingstats discovery_sensorreadings_point_id_aggregation_typ_4b50e142_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_sensorreadingstats
    ADD CONSTRAINT discovery_sensorreadings_point_id_aggregation_typ_4b50e142_uniq UNIQUE (point_id, aggregation_type, period_start);


--
-- Name: discovery_sensorreadingstats discovery_sensorreadingstats_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_sensorreadingstats
    ADD CONSTRAINT discovery_sensorreadingstats_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_group_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_group_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_task_id_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_task_id_key UNIQUE (task_id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: kombu_message kombu_message_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.kombu_message
    ADD CONSTRAINT kombu_message_pkey PRIMARY KEY (id);


--
-- Name: kombu_queue kombu_queue_name_key; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.kombu_queue
    ADD CONSTRAINT kombu_queue_name_key UNIQUE (name);


--
-- Name: kombu_queue kombu_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.kombu_queue
    ADD CONSTRAINT kombu_queue_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: discovery_a_device__2d25f1_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_a_device__2d25f1_idx ON public.discovery_alarmhistory USING btree (device_id, triggered_at DESC);


--
-- Name: discovery_a_is_acti_f9d9c7_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_a_is_acti_f9d9c7_idx ON public.discovery_alarmhistory USING btree (is_active, severity);


--
-- Name: discovery_alarmhistory_device_id_32df3e0a; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_alarmhistory_device_id_32df3e0a ON public.discovery_alarmhistory USING btree (device_id);


--
-- Name: discovery_alarmhistory_point_id_e9018f0d; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_alarmhistory_point_id_e9018f0d ON public.discovery_alarmhistory USING btree (point_id);


--
-- Name: discovery_b_point_i_cf9262_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_b_point_i_cf9262_idx ON public.discovery_bacnetreading USING btree (point_id, read_time DESC);


--
-- Name: discovery_bacnetpoint_device_id_e8c0cefb; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_bacnetpoint_device_id_e8c0cefb ON public.discovery_bacnetpoint USING btree (device_id);


--
-- Name: discovery_bacnetreading_point_id_64120e1b; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_bacnetreading_point_id_64120e1b ON public.discovery_bacnetreading USING btree (point_id);


--
-- Name: discovery_d_device__ce3da6_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_d_device__ce3da6_idx ON public.discovery_devicestatushistory USING btree (device_id, "timestamp" DESC);


--
-- Name: discovery_devicestatushistory_device_id_fce1df14; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_devicestatushistory_device_id_fce1df14 ON public.discovery_devicestatushistory USING btree (device_id);


--
-- Name: discovery_m_device__93603a_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_m_device__93603a_idx ON public.discovery_maintenancelog USING btree (device_id, scheduled_date DESC);


--
-- Name: discovery_m_is_comp_756cb2_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_m_is_comp_756cb2_idx ON public.discovery_maintenancelog USING btree (is_completed);


--
-- Name: discovery_maintenancelog_device_id_1e935459; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_maintenancelog_device_id_1e935459 ON public.discovery_maintenancelog USING btree (device_id);


--
-- Name: discovery_s_point_i_69d9ea_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_s_point_i_69d9ea_idx ON public.discovery_sensorreadingstats USING btree (point_id, aggregation_type, period_start DESC);


--
-- Name: discovery_sensorreadingstats_point_id_1662442d; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX discovery_sensorreadingstats_point_id_1662442d ON public.discovery_sensorreadingstats USING btree (point_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_cele_date_cr_bd6c1d_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_date_cr_bd6c1d_idx ON public.django_celery_results_groupresult USING btree (date_created);


--
-- Name: django_cele_date_cr_f04a50_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_date_cr_f04a50_idx ON public.django_celery_results_taskresult USING btree (date_created);


--
-- Name: django_cele_date_do_caae0e_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_date_do_caae0e_idx ON public.django_celery_results_groupresult USING btree (date_done);


--
-- Name: django_cele_date_do_f59aad_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_date_do_f59aad_idx ON public.django_celery_results_taskresult USING btree (date_done);


--
-- Name: django_cele_status_9b6201_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_status_9b6201_idx ON public.django_celery_results_taskresult USING btree (status);


--
-- Name: django_cele_task_na_08aec9_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_task_na_08aec9_idx ON public.django_celery_results_taskresult USING btree (task_name);


--
-- Name: django_cele_worker_d54dd8_idx; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_cele_worker_d54dd8_idx ON public.django_celery_results_taskresult USING btree (worker);


--
-- Name: django_celery_results_chordcounter_group_id_1f70858c_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_celery_results_chordcounter_group_id_1f70858c_like ON public.django_celery_results_chordcounter USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_groupresult_group_id_a085f1a9_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_celery_results_groupresult_group_id_a085f1a9_like ON public.django_celery_results_groupresult USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_taskresult_task_id_de0d95bf_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_celery_results_taskresult_task_id_de0d95bf_like ON public.django_celery_results_taskresult USING btree (task_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: ix_kombu_message_timestamp; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX ix_kombu_message_timestamp ON public.kombu_message USING btree ("timestamp");


--
-- Name: ix_kombu_message_timestamp_id; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX ix_kombu_message_timestamp_id ON public.kombu_message USING btree ("timestamp", id);


--
-- Name: ix_kombu_message_visible; Type: INDEX; Schema: public; Owner: bacnet_user
--

CREATE INDEX ix_kombu_message_visible ON public.kombu_message USING btree (visible);


--
-- Name: kombu_message FK_kombu_message_queue; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.kombu_message
    ADD CONSTRAINT "FK_kombu_message_queue" FOREIGN KEY (queue_id) REFERENCES public.kombu_queue(id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_alarmhistory discovery_alarmhisto_device_id_32df3e0a_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_alarmhistory
    ADD CONSTRAINT discovery_alarmhisto_device_id_32df3e0a_fk_discovery FOREIGN KEY (device_id) REFERENCES public.discovery_bacnetdevice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_alarmhistory discovery_alarmhisto_point_id_e9018f0d_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_alarmhistory
    ADD CONSTRAINT discovery_alarmhisto_point_id_e9018f0d_fk_discovery FOREIGN KEY (point_id) REFERENCES public.discovery_bacnetpoint(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_bacnetpoint discovery_bacnetpoin_device_id_e8c0cefb_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetpoint
    ADD CONSTRAINT discovery_bacnetpoin_device_id_e8c0cefb_fk_discovery FOREIGN KEY (device_id) REFERENCES public.discovery_bacnetdevice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_bacnetreading discovery_bacnetread_point_id_64120e1b_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_bacnetreading
    ADD CONSTRAINT discovery_bacnetread_point_id_64120e1b_fk_discovery FOREIGN KEY (point_id) REFERENCES public.discovery_bacnetpoint(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_devicestatushistory discovery_devicestat_device_id_fce1df14_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_devicestatushistory
    ADD CONSTRAINT discovery_devicestat_device_id_fce1df14_fk_discovery FOREIGN KEY (device_id) REFERENCES public.discovery_bacnetdevice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_maintenancelog discovery_maintenanc_device_id_1e935459_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_maintenancelog
    ADD CONSTRAINT discovery_maintenanc_device_id_1e935459_fk_discovery FOREIGN KEY (device_id) REFERENCES public.discovery_bacnetdevice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discovery_sensorreadingstats discovery_sensorread_point_id_1662442d_fk_discovery; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.discovery_sensorreadingstats
    ADD CONSTRAINT discovery_sensorread_point_id_1662442d_fk_discovery FOREIGN KEY (point_id) REFERENCES public.discovery_bacnetpoint(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: bacnet_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict lsFGzGlgsgXWqrPaHmZ6XVtrGcmhxgRICmTV4ZKEy6yuCk1R5As8dqyI7jjemcR

